.scroll-to-top-button {
    position: fixed;
    bottom: 5vh;
    right: 50vh; /* Adjust as needed */
    background-color: #333;
    color: white;
    border: none;
    border-radius: 50%;
    width: 8vh;
    height: 8vh;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;


  }
  

  
  .scroll-to-top-button:hover {
    background-color: #555;
  }
  