.container {
  text-align: center;
}

.content-header {
  margin-top: 2%;
  padding-bottom: 20px;
}

.search {
  margin-bottom: auto;
  height: 70px;
  background-color: #fff;
  padding: 10px;
  display: flex;
  border: 2px solid lightgrey;
  border-radius: 15%;
}

.search-input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  margin-top: 5px;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.search .search-input {
  padding: 0 10px;
  width: 100%;
  caret-color: #536bf6;
  font-size: 21px;
  font-weight: 300;
  color: black;
  transition: width 0.4s linear;
}

.search:hover > .search-icon {
  background: #1A237E;
  color: #fff;
}

.search-icon {
  height: 50px;
  width: 50px;
  color: white;
  background-color: #536bf6;
  border: none; /* Remove button border */
  cursor: pointer;
}

.article-content {
  text-align: justify;
}